<div id="header">
  <h1 class="mat-display-2">Find <font color="orange">Satoshi</font>🐱‍👤 ! </h1>
  <ul class="body-1">
    <li>You can buy any tile you think that satoshi is hidding behind.</li>
    <li>When all tiles are bought satoshi is revealed and game restarts.</li>
    <li>Winner can claim their winning 🏆 after round ends.</li>
    <li>This game is <u>provably fair</u> 📜 and uses expirimental technology
      <u>bitcoin lightning</u>⚡ for instant deposits / withdrawals</li>
  </ul>

</div>

<div id="grid">
  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="5px">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>

    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>

    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>


    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>


    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
  </mat-grid-list>
</div>



<div id="footer" class="body-2">
  <hr>
  This game was made with 💙 by <a href="https://grmkris.com/">grmkris.com</a>
  <br>
  Support me <a href="https://btcpay.grmkris.com/ ">here</a>
  <br>
  Code and instructions for running this game on your server are <a href="https://github.com/">here</a>

</div>